/* form css */
fieldset{
    border: none;
}

.hero-form{
    min-width: 75%;
}

.hero-form .pure-g{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.select-container{
    padding-bottom: 1em;
}

.hero-form .pure-button {
    width: 95%;
}

.hero-form select {
    border-radius: 4px;
    border-color: #A38B74;
    padding: 6px 1em;
}

@media screen and (min-width: 992px){
    .select-container{
        padding-bottom: 0;
    }
}