@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&family=Roboto:wght@300;400&display=swap');

/* utility */
body, .pure-g [class *= "pure-u"] {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.42857;
  color: #372B15;
  box-sizing: border-box;
}

.color-1{
  color: #372B15;
}

.color-2{
  color: #76976C;
}

.color-3{
  color: #A38B74;
}

.color-4{
  color: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
font-family:  "Montserrat", Helvetica, Arial, sans-serif;
font-weight: 600;
margin: 0;
line-height: 1.25;
}


h1, .h1 {
  font-size: 3em; }

h2, .h2 {
  font-size: 2.5em; }

h3, .h3 {
  font-size: 2em; }

h4, .h4 {
  font-size: 1.5em; }

.text-center{
  text-align: center;
}

.block{
  display: block;
}

.bold{
  font-weight: 600;
}

.center{
  text-align: center;
}

.padding-bottom{
  padding-bottom: 1em;
}

.padding-top{
  padding-top: 1em;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.pure-button{
  border-radius: 4px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected{
  background-color: #76976C;
  color: #fff;
}


.subtitle{
  font-size: 50%;
  font-weight: 400;
}


.container-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 992px) {
  .container-flex{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  
}